@mobil-login: rgba(129,206,255,0.90) 50%;

// .box-shadow(@style, @c) when (iscolor(@c)) {
//   -webkit-box-shadow: @style @c;
//   box-shadow:         @style @c;
// }
// .box-shadow(@style, @alpha: 50%) when (isnumber(@alpha)) {
//   .box-shadow(@style, rgba(0, 0, 0, @alpha));
// }

.box-shadow(@shadow) {
	-moz-box-shadow: @shadow;
    -webkit-box-shadow: @shadow;
    box-shadow: @shadow;
}
.column-gap(@gap) {
	-webkit-column-gap: @gap; 
	   -moz-column-gap: @gap; 
	        column-gap: @gap;
}
.column-count(@count) {
	-webkit-column-count: @count;
	   -moz-column-count: @count;
	        column-count: @count;
}
.login{
	position: relative;
    padding: 45px 45px 15px 45px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    .box-shadow(inset 0 3px 6px rgba(0,0,0,.05));
	&:after{
		position: absolute;
	    top: 15px;
	    left: 45px;
	    font-size: 12px;
	    font-weight: 700;
	    color: #959595;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    content: "Booking";
	}
	@media @xxs{
		button{
			width: 100%;
			text-align: left;
			text-indent: -9999px;
			background: @mobil-login;
			background-image: url("../icon/login.png");
			background-repeat: no-repeat;
		}
	}
}
.calendar{
		.month{
			background-color: #f1f1f1;
			.week{
				width: 100%;
				.column-gap(1px);
				.column-count(7);
				&>.header{
					width: 100%;
					background-color: #fff;
					text-align: center;
					line-height: 20px;
					font-size: 10px;
					margin-bottom: 1px;
				}
				.day{
					display: inline-block;
				    width: 90%;
				    cursor: pointer;
				    height: auto;
				    min-height: 50px;
				    margin-bottom: 1px;
				    overflow: hidden;
				    text-align: right;
				    padding: 0 5%;
					&>.header{
						font-size:10px;
						padding: 3px;
					}
					&>.event{
						text-align: left;
					    font-size: 11px;
					    border-radius: 3px;
					    background-color: #30ACDA;
					    color: #fff;
					    padding: 0 5%;
					    line-height: 22px;
					    width: 90%;
					    text-overflow: ellipsis;
					    height: 22px;
					    word-break: break-all;
					    &:hover{
					    	
							background-color: #f1f1f1 !important;
					    }
					}
				}
			}
		}
	}