.items-with{
	div[class^="item"]{
		width: 20%;
	}
}
.quote{
	position: relative;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	background: #fff;
	margin: 30px 20px 40px 20px;
	padding: 10px 10px 10px 10px;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
	min-width: 680px;
	h1 {
		position: absolute;
		top: -155px;
		width: 100%;
		font-size: 100px;
		font-weight: 100;
		text-align: center;
		color: rgba(175, 47, 47, 0.15);
		-webkit-text-rendering: optimizeLegibility;
		-moz-text-rendering: optimizeLegibility;
		text-rendering: optimizeLegibility;
	}
	.header{
		.add{
			float: left;
			margin: 10px 0px 0px 20px;
			width: 40px;
			height: 40px;
			background: url(../icon/add.png) no-repeat;
			background-size: 100% auto;
			cursor: pointer;
		}
		.print{
			float: right;
			margin: 10px 10px 0px 20px;
			width: 40px;
			height: 40px;
			background: url(../icon/printer.png) no-repeat;
			background-size: 100% auto;
			cursor: pointer;
		}
		.new-todo {
			padding: 16px 16px 5px 5px;
			border: none;
		}
	}
	.main {
		position: relative;
		z-index: 2;
		border-top: 1px solid #e6e6e6;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				position: relative;
				font-size: 24px;
				border-bottom: 1px solid #ededed;
				padding: 0px 250px 0px 20px;
				margin: 0px -10px 0px -10px;
				&:first-child{
					background-color: #30ACDA;
					color: #fff;
				}

				div{
					float: left;
					text-align: center;
					height: 40px;
				}
				&.title{
					div{
						border: 1px solid #ededed;
						border-top-width: 0px;
						border-bottom-width: 0px;
						border-left-width: 0px;
					}
					.amount{
						text-align: center;
					}
				}
				select{
					width: 100%;
					height: 100%;
					border-right-color: #ededed;
					border-top-width: 0px;
					border-bottom-width: 0px;
					border-left-width: 0px;
					option{
						background-image: url(../icon/delete.png) no-repeat;
					}
				}
				.items-with;
				.quatity{
					position: absolute;
					right:160px;
					width: 90px;
					border: 1px solid #ededed;
					border-top-width: 0px;
					border-bottom-width: 0px;
					border-left-width: 0px;
					input{
						padding: 0px 5px 0px 5px;
						text-align: right;
						height: 100%;
						width: 100%;
						border: none;
					}
				}
				.amount{
					position: absolute;
					right:70px;
					width: 90px;
					border: 1px solid #ededed;
					border-top-width: 0px;
					border-bottom-width: 0px;
					border-left-width: 0px;
					text-align: right;
					padding: 0px 5px 0px 5px;
				}
				.delete{
					position: absolute;
					right:20px;
					width: 40px;
					height: 40px;
					background: url(../icon/delete.png) no-repeat;
					background-size: 100% auto;
					cursor: pointer;
					opacity: 0.8;
					&:hover{
						opacity: 1;
					}
				}
			}
		}
	}
	.footer{
		color: #777;
		padding: 5px 15px;
		height: 30px;
		text-align: center;
		&:before{
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			height: 50px;
			overflow: hidden;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
		}
		div{
			float: right;
			margin: 0px 20px 0px 0px;
		}
	}
}